body
{
    font-family: sans-serif;
    background: white;
    margin: 2em 1em 2em 1em;
}

h1, h2, h3 {
    font-weight: bold;
    color: #005aa0;
}

h1 {
    font-size: 220%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 100%;
}

table.listData {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.listData th {
    text-align: center;
    font-weight: bold;
}

table.listData td, table.listData th {
    padding: 2px 5px;
    border: solid black 1px;
}

table.listData th {
    background: #ffffc0;
}

a {
    text-decoration: none; 
}

a:hover, a:visited:hover {
    text-decoration: underline;
}

img {
    border-style: none;
}

table.listData td.odd {
    background: #f0f0f0;
}


/* Overrides of ViewVC's stylesheet. */

.vc_navheader {
    background-color: #eef2ff;
}

.vc_blame_line, .vc_blame_author, .vc_blame_rev, .vc_blame_text {
    font-size: 100%;
}